button {
    appearance: none;
    border: none;
    margin: 0;
    padding: 0;
}

.button__w100__r10__green {
    padding: 14px 0;

    width: 100%;
    height: fit-content;

    background: var(--color-accent-green);
    border-radius: 10px;
    border: none;

    cursor: pointer;

    transition: background-color 100ms linear;
}

.button__w100__r10__green:hover {
    background: #076773;
}

.button__w100__r10__green:disabled {
    background-color: var(--color-light-black);
    cursor: auto;
}

.button__w80__r10 {
    position: relative;
    padding: 14px 0;

    width: 90%;
    height: fit-content;

    border-radius: 10px;
    border: none;

    text-align: center;

    cursor: pointer;

    transition: background-color 250ms linear;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;

    font-family: var(--font-family-roboto);
    color: var(--color-black);
    font-size: 16px;
    font-weight: 500;
}

.button__w80__r10:hover {
    background-color: #d74d53;
}

.bg__color__red {
    background-color: #FF5A5F;
}


.flex-bt {
    margin-top: auto;
}

.relative {
    position: relative;
}

.w-fit {
    width: fit-content;
}

.font-18 {
    font-size: 18px;
}

.bt-80px {
    bottom: 80px;
}

.confirm {
    padding: 18px 45px;

    width: fit-content;
    height: fit-content;

    background: #FF5A5F;
    border-radius: 50px;
    border: none;

    margin-top: 40px;
    transition: box-shadow 200ms linear;

    cursor: pointer;
}

.confirm:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.c-button-h {
    font-family: var(--font-family-roboto);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--color-white);
}

.c-button-outline {
    border: 2px solid var(--color-black);
    border-radius: 50px;
    text-align: center;
    background: transparent;

    width: fit-content;
    height: fit-content;
    min-width: 250px;
    padding: 25px 65px 25px 65px;
    cursor: pointer;
}

.right-menu-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
}

.right-menu-button {
    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    margin: auto 25px;
    color: var(--color-black);

    width: fit-content;
    height: fit-content;

    transition: color 200ms linear;
}

.right-menu-button:hover {
    color: var(--color-accent-red);
}

.right-menu-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
}

.color-green {
    background-color: var(--color-accent-green);
}

.color-red {
    background-color: var(--color-accent-red);
}