.button__w100__r10__green {
    padding: 14px 0;

    width: 100%;
    height: fit-content;

    background: var(--color-acsent-green);
    border-radius: 10px;
    border: none;

    cursor: pointer;

    transition: background-color 100ms linear;
}

.button__w100__r10__green:hover {
    background: #076773;
}

.button__w100__r10__green:disabled {
    background-color: var(--color-light-black);
    cursor: auto;
}
