/** {*/
/*    outline: red 2px dashed; !* DEBUG *!*/
/*}*/

textarea {
    resize: none;
}

.head-container {
    position: fixed;
    width: 100%;
    height: 75px;
    background-color: transparent;

    display: flex;
    justify-content: space-between;

    margin-left: 20px;
    margin-right: 20px;
}

.logo-container {
    display: flex;
    margin: auto 0;
    flex-direction: row;
    align-items: center;
    background: transparent;
}

.logo-container .lt {
    text-align: center;
    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    text-transform: capitalize;

    margin: auto 5px;

    color: #3C3C3C;
}

.logo-container .lv {
    width: 53px;
    height: 53px;
    margin: auto 5px;
    border-radius: 100px;
    background: linear-gradient(157.02deg, #087E8B 14.89%, #FF5A5F 112.59%);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.search {
    display: flex;
    margin: auto 0;
    width: 438px;
    height: 35px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    background: #3C3C3C;
    border-radius: 70px;
}

.search-img img {
    margin: auto 0 auto 5px;
    object-fit: contain;
    width: 23px;
    height: 23px;
}

.right-menu-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
}

.right-menu-button {
    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    margin: auto 25px;
    color: var(--color-black);

    width: fit-content;
    height: fit-content;

    transition: color 200ms linear;
}

.right-menu-button:hover {
    color: var(--color-acsent-red);
}

.right-menu-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
}


.central-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 1110px;
    height: fit-content;
    top: 200px;
    left: 150px;
    gap: 30px;
}

.cc-h1 {
    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 122px;
    line-height: 130px;
    text-align: left;

    display: flex;
    align-items: center;
    letter-spacing: -0.02em;

    color: var(--color-black);
}

.cc-h1:first-letter {
    color: var(--color-acsent-green);
}

.cc-h2 {
    font-family: var(--font-family-roboto);
    width: 608px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -0.02em;

    color: #807D7D;
}

.b-container {
    display: flex;
    bottom: 100px;
    left: 150px;
    justify-content: flex-start;
    flex-direction: row;
    gap: 100px;

    width: fit-content;
    height: fit-content;
}

.c-button-h {
    font-family: var(--font-family-roboto);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--color-white);
    background: transparent;
}

.c-button-outline {
    border: 2px solid var(--color-black);
    border-radius: 50px;
    text-align: center;
    background: transparent;

    width: fit-content;
    height: fit-content;
    min-width: 250px;
    padding: 25px 65px 25px 65px;
    cursor: pointer;
}

.color-green {
    background-color: var(--color-acsent-green);
}

.color-red {
    background-color: var(--color-acsent-red);
}

.popup__container {
    position: fixed;
    z-index: 1007;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 20px;
    gap: 20px;

    min-width: 500px;
    min-height: 400px;

    width: fit-content;
    height: fit-content;

    left: 50%;
    transform: translate(-50%, 0);

    background: #FFFFFF;
    box-shadow: 0 4px 20px 3px rgba(0, 0, 0, 0.25);
    border-radius: 40px;

    overflow: hidden;
    visibility: hidden;

    opacity: 0;

    transition: opacity 50ms ease-in;
}

.pp-bg {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;

    background-color: transparent;
    visibility: hidden;
    overflow: hidden;
}

.blur {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.popup__container .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: color 200ms linear;
    text-decoration: none;

    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: lowercase;

    color: var(--color-black);
}

.popup__container .close:hover {
    color: var(--color-acsent-red);
}

.popup__container .h {
    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 77px;

    width: 100%;
    height: fit-content;

    text-align: center;
    margin-bottom: 30px;

    color: var(--color-black);
}

.input-line {
    display: flex;
    min-width: 400px;
    flex-direction: column;
    height: fit-content;
}

.input-line .l {
    height: fit-content;

    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;

    color: var(--color-black);
    text-align: left;
}

.input-line .i {
    height: fit-content;
}

button {
    appearance: none;
}

.confirm {
    padding: 18px 45px;

    width: fit-content;
    height: fit-content;

    background: #FF5A5F;
    border-radius: 50px;
    border: none;

    margin-top: 40px;
    transition: box-shadow 100ms linear;
}

.confirm:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

input[type="text"] {
    font-family: var(--font-family-roboto); /* 1 */
    font-size: inherit; /* 1 */
    line-height: inherit; /* 1 */
    margin: 0 0 0 0; /* 2 */
    padding: 0 0 0 0;
}

.text-input {
    display: block;
    height: calc(1.5rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: var(--font-family-roboto);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-black);
    background: #FFFFFF;
    border: 3px solid #DDDDDD;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.invalid {
    border-color: var(--color-acsent-red) !important;
}

.text-input::placeholder {
    color: var(--color-light-black);
    opacity: 0.4;
}

.text-input:hover {
    border-color: var(--color-light-black);
}

.text-input:focus {
    border-color: #087E8B !important;
    outline: 0;
}

.additions {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    gap: 40px;

    width: 100%;
    height: fit-content;
}

.additions .l {
    width: fit-content;
    height: fit-content;

    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 36px;

    color: var(--color-light-black);
    text-align: center;
    margin: auto 0;
}

.additions .i {
    width: fit-content;
    height: fit-content;

    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;

    color: var(--color-black);
    text-align: center;
    margin: auto 0;
    border: 0;

    text-decoration: none;
}

.additions .i:hover {
    color: var(--color-acsent-green);
}

.c-form  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 80px;
    gap: 65px;
    margin: 80px auto;

    width: 700px;

    min-height: fit-content;
    height: fit-content;

    background: #FFFFFF;
    box-shadow: 2px 2px 40px 3px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.c-form .cfl {
    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 600;
    font-size: 56px;

    color: var(--color-black);

    width: 100%;
    height: fit-content;
    margin-bottom: -20px;
}

.c-form-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 20px;

    font-size: 24px;

    width: 100%;
    height: fit-content;
}

.c-form-block .fbl {
    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 600;
    font-size: 36px;

    color: var(--color-black);
}

.rb-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.375rem 0;
    margin-left: -12px;
    gap: 10px;

    width: 100%;
    height: fit-content;
}

input[type=radio] {
    border: 0;
    width: 30px;
    height: 2em;
}

.tabs__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    gap: 0;

    margin-bottom: 20px;
    min-width: 400px;
}

.tabs__container .tabs__tab {
    text-decoration: none;
    text-align: center;
    padding: 0 15px;
    width: 100%;

    border-bottom: solid var(--color-light-black) 2px;
    transition: border-bottom-color 200ms linear;
    cursor: pointer;
}

.tabs__tab .tab__inner {
    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    color: var(--color-black);
}

.tabs__values {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 20px;
}

.h1__central_46 {
    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 600;
    font-size: 32px;

    width: 100%;
    height: fit-content;

    text-align: center;

    color: var(--color-black);
}

.form__container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    margin: 40px auto;
    gap: 20px;
    padding: 0 0;

    width: fit-content;
    height: fit-content;
}

.form__body__FS {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    gap: 10px;

    min-width: 450px;
    width: fit-content;
    height: fit-content;

    background: #FFFFFF;
    box-shadow: 0 4px 5px 2px rgba(0, 0, 0, 0.05);
    border-radius: 20px;

    padding: 40px 20px;
}

.form__body__FS .button__confirm {
    padding: 14px 0;

    width: 89%;
    height: fit-content;

    background: #FF5A5F;
    border-radius: 10px;
    border: none;

    margin-top: 20px;
    cursor: pointer;

    transition: background-color 100ms linear;
}

.form__body__FS .button__confirm:focus {
    border: solid var(--color-acsent-green) 10px 10px;
}

.button__confirm:hover {
    background: #CC494EFF;
}

.form__body__FS .button__confirm .button__confirm_inner {
    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 500;
    font-size: 17px;

    height: fit-content;
    text-align: center;

    color: var(--color-black);
}

.letter__17B_500 {
    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 500;
    font-size: 17px;

    height: fit-content;
    text-align: center;

    color: var(--color-black);
    text-decoration: none;

    transition: color 100ms linear;
}

.letter__17B_500:hover {
    color: var(--color-light-black);
}

.form__input__wide {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    gap: 40px;
}

.form__input__wide .label__18B_500 {
    height: fit-content;

    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;

    color: var(--color-black);
    text-align: left;
    margin: auto 0;
    width: 80%;
}

.form__input__wide .text__input {
    display: block;
    height: calc(1.6rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: var(--font-family-roboto);
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-black);
    background: #FFFFFF;
    border: 3px solid #DDDDDD;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
}

.form__input__wide .text__input::placeholder {
    color: var(--color-light-black);
    opacity: 0.4;
}

.form__input__wide .text__input:hover {
    border-color: var(--color-light-black);
}

.form__input__wide .text__input:focus {
    border-color: var(--color-acsent-green) !important;
    outline: 0;
}

.left__menu__container {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    flex-flow: row;

    background-color: var(--color-white);
    border-right: 2px solid var(--color-light-black);

    margin: 0;
    padding: 0;
    min-width: 400px;
    min-height: 100%;
    top: 0;
    left: 0;
}

.left__menu__container .left__menu__header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 15px 25px;
    gap: 30px;

    width: 100%;
    min-height: 75px;
    height: fit-content;
    left: 0;
    top: 0;

    background: #4F4F4F;
    opacity: 0.9;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 10px 10px;
}

.left__menu__header__container .profile__image {
    width: 60px;
    height: 60px;
    left: 0;
    top: 0;
    background-clip: border-box;
    border-radius: 30px;

    background: linear-gradient(157.02deg, #087E8B 14.89%, #FF5A5F 112.59%);;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}

.swipe__cards, :before, :after {
    position: absolute;
    box-sizing: border-box;
    padding: 0;
    right: 0;
    left: 400px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.swipe__cards .tinder {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.swipe__cards .loaded.tinder {
    opacity: 1;
}

.swipe__cards .tinder__status {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    z-index: 2;
    width: 100%;
    text-align: center;
    pointer-events: none;
}

.swipe__cards .tinder__status i {
    font-size: 100px;
    opacity: 0;
    transform: scale(0.3);
    transition: all 0.2s ease-in-out;
    position: absolute;
    width: 100px;
    margin-left: -50px;
}

.swipe__cards .tinder_love .fa-heart {
    opacity: 0.7;
    transform: scale(1);
}

.swipe__cards .tinder_nope .fa-remove {
    opacity: 0.7;
    transform: scale(1);
}

.swipe__cards .tinder__cards {
    flex-grow: 1;
    padding-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
}

.swipe__cards .tinder__card {
    display: inline-block;
    width: 90vw;
    max-width: 400px;
    height: 70vh;
    background: #FFFFFF;
    padding-bottom: 40px;
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    will-change: transform;
    transition: all 0.3s ease-in-out;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.swipe__cards .moving.tinder__card {
    transition: none;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}

.swipe__cards .tinder__card .center-cropped {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;

    pointer-events: none;
}

.swipe__cards .tinder__card .center-cropped img {

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: alpha(opacity=1);
    opacity: 1;
    pointer-events: none;
}

.swipe__cards .tinder__card h3 {
    margin-top: 32px;
    font-size: 32px;
    padding: 0 16px;
    pointer-events: none;
}

.swipe__cards .tinder__card p {
    margin-top: 24px;
    font-size: 20px;
    padding: 0 16px;
    pointer-events: none;
}

.swipe__cards .tinder__card ul {
    pointer-events: none;
    list-style-type: circle;
    height: 200px;
}

.swipe__cards .tinder__card ul li {
    text-align: left;
    font-size: 1.5rem;
}

.swipe__cards .tinder--buttons {
    flex: 0 0 100px;
    text-align: center;
    padding-top: 20px;
}

.swipe__cards .tinder--buttons button {
    border-radius: 50%;
    line-height: 60px;
    width: 60px;
    height: 60px;
    border: 0;
    background: var(--color-black);
    display: inline-block;
    margin: 0 8px;
}

.swipe__cards .tinder--buttons button:focus {
    outline: 0;
}

.swipe__cards .tinder--buttons i {
    font-size: 32px;
    vertical-align: middle;
}

.swipe__cards .fa-heart {
    background-color: var(--color-acsent-green);
}

.swipe__cards .fa-remove {
    background-color: var(--color-acsent-red);
}





