.vacancy__menu__container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px 0 0 50px;
    position: absolute;
    width: 1063px;
    height: 750px;
    left: 377px;
    top: 0;

    background: #DDDDDD;
}

.vacancy__menu__container .label__vacancy{
    width: auto;
    height: 47px;

    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 15px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: -0.02em;

    color: #307A83;
}


.vacancy__menu__container .vacancy{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
    width: 950px;
    height: 30px;
    border: none;

    background: #DDDDDD;
    color: #3C3C3C;
    border-radius: 5px;
    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;


}
.vacancy__menu__container .vacancy:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);}

.vacancy__menu__container .vacancy:focus{
    color: #3C3C3C;
    background: #A6A3A3;
}

.create__new__vacancy{
    margin-left: auto;
    margin-right: auto;
    width: 268px;
    height: 62px;
    background: #A6A3A3;
    border-radius: 70px;
    border: none;
    justify-content: center;
    align-items: center;

    font-family: var(--font-family-roboto);
    font-weight: 500;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    letter-spacing: -0.02em;
    color: #3C3C3C;

}
.create__new__vacancy:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);}

.create__new__vacancy:focus{
    color: #A6A3A3;
    background: #3C3C3C;
}