.__inner__right .__holder {
    display: flex;
    flex-direction: column;
    justify-content: start;

    gap: 40px;

    padding: 30px 20px;
}

.__holder h1 {
    font-size: 48px;
    font-weight: 600;
    text-align: start;

    margin: 0;

    color: var(--color-black);
}

.__holder .__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    margin: 0;
    padding: 0;

    height: 100%;
    min-height: 300px;

    width: 80%;
    min-width: 500px;
}

.__wrapper .vacancies__picker {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    border: var(--color-light-black) solid 2px;
    border-radius: 20px;

    height: fit-content;
    max-height: 400px;

    width: 100%;

    padding: 20px 0;
    gap: 5px;

    overflow-y: scroll;
    overflow-x: hidden;
}

.vacancies__picker .__mock__no__vacancies {
    font-size: 14px;
    font-weight: 500;
    text-align: center;

    margin: 20px auto;
}

.vacancies__picker .vacancy__card {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;

    background-color: #eaeaea;
    padding: 10px 20px;
    gap: 50px;

    width: 90%;

    border-radius: 15px;
}

.vacancy__card .remove__button {
    position: absolute;
    right: -5px;
    top: -5px;

    background-color: var(--color-acsent-red);

    width: 15px;
    height: 15px;
    padding: 2.5px 2.5px;

    border-radius: 10px;

    cursor: pointer;
    transition: background-color 250ms linear;
}

.vacancy__card .remove__button:hover {
    background-color: #c94549;
}


.vacancy__card .text__block {
    display: flex;
    flex-direction: column;
    justify-content: start;

    margin: 0;
    padding: 0;

    min-width: 75px;

    gap: 2px;
}

.text__block h1 {
    font-size: 12px;
    line-height: 12px;

    margin: 0;
    padding: 0;

    font-weight: 500;
}

.text__block h2 {
    font-size: 16px;
    line-height: 16px;

    margin: 0;
    padding: 0;

    font-weight: 500;
}

.__wrapper .button__add {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;

    width: 30%;
    height: fit-content;

    padding: 10px 20px 10px 20px;
    margin-top: 20px;

    background-color: #74cb74;

    border-radius: 8px;
    cursor: pointer;

    transition: background-color 250ms linear;
}

.button__add:hover {
    background-color: #67b667;
}

.button__add img {
    width: 16px;
    height: 16px;

    margin: auto 0;
}

.button__add span {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 18px;

    color: var(--color-black);
}