/* Style inputs, select elements and textareas */

.form_header {
    position: absolute;
    top: 0;
    font-size: 2em;
    font-family: "Roboto Flex Regular", sans-serif;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* Style the label to display next to the inputs */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-family: "Roboto Flex Regular", sans-serif;
}

/* Style the submit button */
input[type=submit] {;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto Flex Regular", sans-serif;
    font-size: 1em;
    margin: auto;
    display: flex;
}

/* Style the container */
.container {
    border-radius: 5%;
    width: 50%;
    margin: auto;
    box-shadow: 0 4px 20px 3px rgba(0, 0, 0, 0.25);
    padding: 100px;
}

/* Floating column for labels: 25% width */
.label_col {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.forms_col {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .label_col, .forms_col, input[type=submit] {
        width: 100%;
        margin-top: 0;
        font-family: "Roboto Flex Regular", sans-serif;
    }
}
